footer {
  background-color: var(--background-color);
  color: var(--text-color-muted);
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  max-width: 1440px;
  padding: 24px 40px;
}

footer .footer p {
  margin: 4px 0;
}

footer a:any-link {
  color: var(--text-color-muted);
}

footer a:hover {
  color: var(--text-color);
}

@media (width >= 1024px) {
  footer .footer > div {
    padding: 24px 80px;
  }
}
